
DATABASE_URL=postgresql://crypto_user:crypto_password@postgres:5432/crypto_platform

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRATION=7d
# optionnel
COINGECKO_API_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=

NODE_ENV=production
PORT=3000
FRONTEND_URL=http://localhost
